/**
 * The following styles get applied inside the editor only.
 */

.wp-block-gutenbergp5-p5js {
    fieldset.components-placeholder__fieldset {
        display: block !important;
    }

    textarea {
        /* See https://stackoverflow.com/questions/38781089 */
        font-family: monospace, monospace !important;
    }
}

#gutenbergp5-controls {
    padding: 1em;
}
