/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-gutenbergp5-p5js {
    width: 100%;
    display: flex;

    iframe {
        padding: 0;
        margin: 0;
        border: none;
    }
}

.gutenbergp5-align-left{
    justify-content: left;
}

.gutenbergp5-align-center{
    justify-content: center;
}

.gutenbergp5-align-right{
    justify-content: right;
}

.gutenbergp5-align-wide{
    max-width: none !important;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    overflow: hidden;
}

#gutenbergp5-controls{
    padding: 1em;
}